root { 
    display: block;
}


div
{
    border:1px solid #a1a1a1;
    padding:5px 20px; 
    background:transparent;
    width:300px;
    border-radius:10px;
    -moz-border-radius:10px;  /*Firefox 3.6 and earlier */
}

#header {
    alignment-adjust: central;
    position: relative;
    width: 800px;	
    height: 250px;	
    margin: 0; padding: 0;
/*    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 5px 5px #888;*/
    background: url('http://images2.fanpop.com/image/photos/9100000/c-c-pizza-code-geass-9142790-400-250.gif') no-repeat top center;
}

.choices {
    position: relative;
    width: 800px;	
    margin: 0; padding: 0;
/*    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 5px 5px #888;*/
}

#login {
    position: relative;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 5px 5px #888;
    background: white;
    width: 800px;
}

/* Button strip */
#buttons {
    position: relative;
    -moz-column-count:5; /* Firefox */
    -webkit-column-count:5; /* Safari and Chrome */
    column-count:5;
        width: 800px;	
    height: 50px;
}

/* */
.button {

}


a, a:visited {
    text-decoration: none;
    color: #BEBEBE;	
}
a:hover {
    color: #fff;
    border-bottom: 1px dotted #438800;
}


body
{
    background-color: white;
}
